body{
<<<<<<< HEAD
    background-image: url("Images/dragon.jpg");
    background-size: cover;
=======
    background-image: url("Images/dragon");
    background-size: cover; 
>>>>>>> e6404440d55d2d92bbf346c842aad0677203207e
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
<<<<<<< HEAD
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    border-radius: 5px;
    background-color: #000000;
    opacity: 0.8;
}

.bouton{
    background-color: #3e8e8d;
=======
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    max-height: 300;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bouton{
    background-color: #afaf4c;
>>>>>>> e6404440d55d2d92bbf346c842aad0677203207e
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bouton:hover{
<<<<<<< HEAD
    background-color: #8e3e3e;
=======
    background-color: #8e7b3e;
>>>>>>> e6404440d55d2d92bbf346c842aad0677203207e
}

.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1 {
    text-align: center;
<<<<<<< HEAD
    color: #ffffff;
=======
    color: #333;
>>>>>>> e6404440d55d2d92bbf346c842aad0677203207e
}

p {
    text-align: center;
<<<<<<< HEAD
    color: #c4c4c4;
=======
    color: #666;
>>>>>>> e6404440d55d2d92bbf346c842aad0677203207e
}