body {
    background-image: url("Images/yugi.jpg");
    background-size: cover;
    background-color: #a0a0a0;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #000000;
}

.bouton{

    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.bouton:hover{
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.header button {
    margin-right: 10px;
}

.card {
    background-color: #000000;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.card p {
    margin: 10px 0;
}

.card label {
    font-weight: bold;
}

.card input,
.card textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.card button {
    width: 100%;
    padding: 8px 16px;
    background-color: #fdfdfd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

