.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-image {
    background-image: url('Images/yugi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-container {
    overflow: hidden;
}

.content {
    padding: 20px;
    color: #000000;
    text-align: center;
    overflow: hidden;
}